body {
  background-color: #f0f8ff;
  font-family: Arial;
}
nav {
  background-color: #333;
  padding: 10px;
}
nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
}

.logo {
    width: 120px;
}

nav {
    background: transparent;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("../assents/hero-jewelry.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay h1 {
    font-size: 3rem;
}

.overlay p {
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* PRODUTOS */
.produtos {
    padding: 50px;
    text-align: center;
}

.grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}