* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 130px;
}

header {
    background-color: #0f1318;
    color: #fff;
    padding: 20px;
}

.header-cabecalho {
    display: grid;
    grid-template-columns: 1.1fr auto 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f1318;
    z-index: 1000;
}

nav {
    justify-self: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #b0b4bc;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #b8a070;
}

.carrinho {
    justify-self: end;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 25px;
}

.logo {
    width: 140px;
    margin-left: 25px;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #0f1318;
    color: #fff;
    padding-top: 130px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body h1, body h4 {
    display: flex;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body h4 {
    letter-spacing: .3em;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #b8a070;
}

body h1 {
    margin-bottom: 10px;
    color: #e4e6ea;
    font-size: 3rem;
    line-height: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.produto {
    background: #161b22;
    padding: 15px;
    gap: 12px;
    width: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.produto img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

.produto:hover img {
    transform: scale(1.05);
}

.comprar {
    background-color: #b8a070;
    color: #0f1318;
    border: none;
    padding: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}   

.comprar:hover {
    background-color: #d4b36e;
}

.footer {
    background-color: #0f1318;
    color: #b0b4bc;
    padding: 40px 20px;
    margin-top: 40px;
    width: 70%;
}

.footer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #b0b4bc;
    font-size: 18px;
}

.contatos, .navegacao, .footer-titulo {
    margin-top: 20px;
    color: #b0b4bc;
    font-size: 18px;
}

.contatos p, .navegacao a {
    margin-bottom: 10px;
}

.contatos p i {
    margin-right: 8px;
    color: #b8a070;

}

.contatos h1, .navegacao h1 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #b8a070;
}

.footer-loja {
    display: flex;
    background-color: #0f1318;
    color: #b0b4bc;
    padding: 40px 20px;
    margin-top: 40px;
    gap: 300px;
}

.footer-loja img {
    width: 120px;
    margin-bottom: 10px;
}

.navegacao a {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #b0b4bc;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #b8a070;
}